.App {
  min-height: 100vh;
  background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
  font-family: 'Poppins', sans-serif;
}
.form-action {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-action {
  width: 50%;
  border: none;
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #EEDECF;
}
.button-action {
  padding: 10px 20px;
  background:#3C4951;
  border: none;
  color: white;
  /* border-radius: 10px; */
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
img {
  border-radius: 50%;
}
button:hover {
  background: #cc3719;
}
.heading {
  
  font-weight: 700;
}
.list-action {
 
  font-weight: 400;
}
span {
  font-weight: 700;
}